PRODUCT_DB_USERNAME=product_user
PRODUCT_DB_PASSWORD=product_password
ORDER_DB_USERNAME=order_user
ORDER_DB_PASSWORD=order_password
RABBITMQ_USERNAME=assignment_user
RABBITMQ_PASSWORD=assignment_password

